<header class="site-header">
  <a href="/" class="site-title font-sans-serif">{{ .Site.Title }}</a>
  <nav>
    <a href="/contact/">Contact</a>
    <a href="/projects/">Projects</a>
    <a href="/blog/">Blog</a>
    <a href="{{ .Site.Data.social.github }}" target="_blank" rel="noopener noreferrer">
      {{ partial "icon.html" (dict "name" "github") }}
    </a>
    <a href="{{ .Site.Data.social.linkedin }}" target="_blank" rel="noopener noreferrer">
      {{ partial "icon.html" (dict "name" "linkedin") }}
    </a>
  </nav>
</header>